name: Automatic Preprocessing

# Trigger
on:
  push:
    branches: [ main ]

# Daftar pekerjaan yang harus dilakukan
jobs:
  preprocess-data:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      # Langkah 1: 'Checkout' atau download kode Anda ke server
      - name: 1. Check out code
        uses: actions/checkout@v4

      # Langkah 2: Siapkan environment Conda 
      - name: 2. Set up Conda Environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-activate-base: false
          activate-environment: msml_env  
          python-version: 3.12         

      # Langkah 3: Install library
      - name: 3. Install Dependencies
        shell: bash -l {0} 
        run: |
          echo "Installing libraries..."
          pip install pandas scikit-learn mlflow==2.19.0

      # Langkah 4: Jalankan skrip preprocessing
      - name: 4. Run Preprocessing Script
        shell: bash -l {0} 
        run: |
          echo "Running preprocessing script..."
          python preprocessing/automate_davin.py

      # Langkah 5: Commit file CSV baru yang dihasilkan
      - name: 5. Commit Processed Data
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto: Update processed data"
          # Cari file CSV apa pun di dalam folder ini
          file_pattern: "preprocessing/dataset_preprocessing/*.csv"